.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.jumbotron{
    
        background-color: #D1C4E9;
margin-bottom: 0px;

}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}


h1{
    /* background-color: brown; */
    /* color: blue; */
}

.list-unstyled{
    padding-right: 50px;
}

.socials{
    padding-left: 50px;
}

.history {
  padding:50px 40px 50px;
}


.corporate {
    padding:50px 40px 50px;
  }

  body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}

.card .card-header{
background-color: #F5D22E;
}
/* footer{
    padding-top: 0px;
    padding-bottom: 0px;
} */

.con-form form label{
    margin: 10px 10px 10px;
}

.con-form .form-group input{
    margin-top: 20px;
}

.con-form form .btn{
    margin: 5px 20px 0px;
}


/* header .res-btn{
background-color: #F5D22E;
padding: 15px 50px 15px;
font-size: 25px;
} */


.con-container{
    padding: 0px;
}

.tab-content{
    padding: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}


.modal-body{
margin-left: 90px;
margin-bottom: 20px;
}

.carousel {
    background:#512DA8;
}

.carousel-item {
    height: 300px;
  }

  .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel-caption{
    /* right: 0; */
    width: 50%;
    right: 0;
    margin: auto;
    text-align: center;
    margin-bottom:30px
}

.modal-content form label{
    margin-right:10px;
}